header, 
footer, 
article, 
section, 
nav, 
menu, 
hgroup {
   display: block;  
} 

*{
	margin:0;
	padding:0;
	font-weight: normal;
	font-family: helvetica;
}

body {
}

.mini-nav-blue ul li a {
	color: #1b6cb7;
}

.mini-nav-blue ul li a:hover {
	color: #005454;
}

.mini-nav-blue ul li:first-child{
	padding-left: 40%;
}

#header-bar { 
	background-color: #1b6cb7;
}

.mini-nav-div-blue { 
	background-image: url("assets/06_banner.png");
	height: 400px;
}

.right-floating {
	float: right;
	height: inherit;
	width: 40%;
	padding-left: 3em;
	padding-top: 3em;
	padding-right: 55px;
}

.right-floating h1 {
	font-family: aldo;
	color: black;
}

.right-floating p {
	color: gray;
	padding-top: 15px;
	font-family: helvetica;
	font-size: 0.7em;
	line-height: 25px;
}

.right-floating button {
	background-color: #1b6cb7;
	padding: 10px;
	margin-top: 15px;
	color: white;
	font-size: 10pt;
	border: none;
}

.centered-content {
	width: 100%;
	text-align: center;
	float: center;
}

.centered-content p {
	margin-top: 20px;
	font-family: helvetica;
	color: black;
	font-weight: bold;
	font-size: 0.8em;
}

.centered-content img {
	float: center;
	margin-left: 96%;
	margin-right: 100%;
	margin-top: 5%;
	display: block;
}

.app-type-div {
	padding-top: 60px;
	padding-bottom: 40px;
	height: 100px;
	margin-left: 13%;
	margin-right: 10%;
}

.app-type-div h3 {
	font-family: aldo;
	color: #f7cd61;
	margin-bottom: 8px;
}

.app-type-div p {
	font-family: helvetica;
	font-size: 0.7em;
	letter-spacing: 1px;
	color: gray;
	line-height: 17pt;
}

.app-type-div img {
	display: inline-block;
	float: left;
	margin-right: 40px;
}

.container {
	height: auto;
	position: relative;
	margin-top: 6%;
}


.arrow-img {
	position: relative;
	z-index: 2;
	top: 40px;
	left: 45%;
}

.info-block {
	background-color: #ecebea;
	padding-left: 4em;
	padding-top: 3em;
	padding-bottom: 4em;
	padding-right: 3em;
}

.info-block h2 {
	color: #1b6cb7;
	font-family: helvetica;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.info-block p {
	color: #4f4f4f;
	font-family: helvetica;
	margin-bottom: 20px;
}

.col-img {
	background-image: url("assets/06_intern_banner.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 400px;
}

.panel {
	display: inline-block;
	background-color: #f8f8f8;
	width: 22%;
	margin: 0;
	text-align: left;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.panel h1 {
	font-family: aldo;
	font-size: 3em;
}

.panel h3 {
	font-family: aldo;
	padding-bottom: 15px;
}

.panel p {
	font-weight: lighter;
	font-family: helvetica;
	font-size: 0.8em;
	padding-right: 20px;
	color: #7d7d7d;
}

.gray-panel {
	background-color: #f2f2f2;
}

.program-block {
	text-align: center;
	float: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.program-block h1 {
	color: #6d6d6d;
	font-family: helvetica;
}

.program-type {
	display: inline-block;
	padding-top: 3%;
}

.program-type h3 {
	color: #1b6cb7;
	letter-spacing: 1px;
	font-family: aldo;
	padding-top: 5px;
}

.program-type img {
	width: 80%;
}

.program-type p {
	font-family: helvetica;
	font-size: 0.5em;
	color: #818181;
}

.app-block {
	background-color: #ecebea;
	padding-left: 4em;
	padding-top: 3em;
	padding-bottom: 4em;
	padding-right: 3em;
}

.app-left { 
	display: inline-block;
	text-align: left;
	width: 50%;
}

.app-right {
	float: right;
	display: inline-block;
	text-align: left;
	width: 40%;
}

.bullet-div {
	padding: 10px;
}

.bullet-div img {
	display: inline;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;

}

.bdiv2 img {
	margin-bottom: 15px;
}

.bullet-div div {
	margin-top: 15px;
}

.bullet-div div p {
	font-family: helvetica;
	font-size: 0.8em;
	line-height: 25px;
	letter-spacing: 1px;
	color: #333333;
	display: inline;
}

.app-left h1 {
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-family: helvetica;
	color: #4f4f4f;
}

.app-left p {
	font-family: helvetica;
	line-height: 30px;
	font-size: 0.7em;
	letter-spacing: 1px;
	color: #4f4f4f;
}

.join-bar {
	background-color: #1b6cb7;
	width: 100%;
	text-align: center;
}

.join-bar h1 {
	font-family: aldo;
	font-size: 3em;
	color: white;
	padding: 30px;
	padding-top: 60px;
}

.join-bar button {
	font-family: helvetica;
	padding: 5px;
	margin-bottom: 60px;
	border-style: none;
	font-size: 1em;
	padding-left: 50px;
	padding-right: 50px;
	background-color: white;
	color: #1b6cb7;
}

.hover {
	float: left;
	margin-right: 40px;
	width: 144px;
	height: 144px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
}

.hov1 {
	background-image: url("assets/06_student_a.png");
}

.hov2 {
	background-image: url("assets/06_graduates_b.png");
}

.hov3 {
	background-image: url("assets/06_professionals_a.png");
}

.hov1:hover {
	background-image: url("assets/06_student_b.png");
}

.hov2:hover {
	background-image: url("assets/06_graduates_a.png");
}

.hov3:hover {
	background-image: url("assets/06_professionals_b.png");
}

.collapsable {
	float: center;
	text-align: center;
	height: auto;
	position: relative;
	display: none;
	top: 0;
	z-index: 1;
}