header, 
footer, 
article, 
section, 
nav, 
menu, 
hgroup {
   display: block;  
} 

*{
	margin:0;
	padding:0;
	font-weight: normal;
	font-family: helvetica;
}

body {
}

.mini-nav-orange ul li a {
	color: #eb6e1e;
}

.mini-nav-orange ul li a:hover {
	color: #005454;
}

.mini-nav-orange ul li:first-child{
	padding-left: 40%;
}

#header-bar { 
	background-color: #eb6e1e;
}

.mini-nav-div-orange { 
	background-image: url("assets/03_banner1.png");
	height: 400px;
}

.text-block {
	text-align: center;
	padding: 1em;
	float: right;
}

.text-block img {
	display: inline-block;
}

.graph-div {
	display: inline-block;
	height: 250px;
	width: 200px;
	float: right;
	background-image: url("assets/03_eandd_flowchart.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.text-block hr {
	color: #eb6e1e;
}

.shrink-bg {
	margin-bottom: 36px;
}

.shrink-bg div img {
	margin-top: 364px;
	margin-left: 28%;
}

.s2 div img{
	margin-top: 314px;
}

.left-p {
	width: 40%;
	padding-right: 0;
	margin-right: 0;
	margin: 0;
	text-align: left;
}

.left-p	p {
	display: inline;
}

