header, 
footer, 
article, 
section, 
nav, 
menu, 
hgroup {
   display: block;  
} 

*{
	margin:0;
	padding:0;
	font-weight: lighter;
	font-family: helvetica;
}

body {
	min-width: 1024px;
}

body p {
	margin: 0px 0px;
}


.footer-block p {
	margin: 0px;
}


.mini-nav-teal ul li a {
	color: #68c39f;
}

.mini-nav-teal ul li a:hover {
	color: #68c39f;
}

.mini-nav-teal ul li:first-child{
	padding-left: 34%;
}

#header-bar { 
	background-color: #68c39f;
}

.mini-nav-div-teal { 
	background-image: url("../assets/02about/02_banner1.png");
	background-position: 1px;
	min-height: 576px;
	min-width: 1020px;
}

.text-block {
	text-align: center;
	margin: 7em;	
}


.text-block h3 {
	font-weight: bold;
	font-size: 10pt;
	color: #000000; 
	margin-bottom: 10px;

}

.text-block div p {
	color: #595959;
	font-size: 11pt;
	font-weight: lighter;
	line-height: 40px;
	width:700px;
	margin-left: auto ;
  	margin-right: auto ;
}

.text-block img {
	margin: 15px;
	width: 225px;
	height: 225px;
}

.centered-bullet ul {
	list-style-position: inside;
	color: #595959;
	font-size: 11pt;
	font-weight: lighter;
	line-height: 40px;
}

.button-div button {
	padding: 20px;
	margin: 10px;
	background-color: white;
	color: #afafaf;
	border-color: #afafaf;
	border-width: thin;
	border-style: solid;
}

hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #68c39f;
    margin: 1em 0; padding: 0;
}

.imgdiv hr {
}

.imgdiv {
	padding: 30px 0px;
	background-image: url("assets/arrow.png");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: center;
}
