header, 
footer, 
article, 
section, 
nav, 
menu, 
hgroup {
   display: block;  
} 

*{
	margin:0;
	padding:0;
	font-weight: normal;
	font-family: helvetica;
}

body {
	min-width: 1024px;
}



#site-logo{
	height: 70px;
	width: 160px;
	margin:0;
	display: block;
	float: left;

}

#site-logo > a{
	background-color: #185474;
	padding-right: 15px;
	width: 160px;
	height: 70px;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#site-nav {
	float: left;
	height: 70px;
	background-color: #333333;
	margin:0;
}

#site-nav ul {
	float: left;
	margin: 0;
	padding: 0;
	background-color: #333333;
}

#site-nav ul li {
	float: left;
	display: list-item;
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	background-color: #333333;
}

#site-nav li:first-child{
	padding-left: 30px;
}
#site-nav li:last-child{
	padding-right: 30px;
}

#site-nav ul li a{
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: 'aldo';
	font-size: 1em;
	background-color: #333333;
}

#site-nav a:hover {
	color: #c6c6c6;
}

#clear-logo{
	height: 70px;
	width: 160px;
	margin:0;
	display: block;
	float: left;

}

#clear-logo > a{
	padding-right: 15px;
	width: 160px;
	height: 70px;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#clear-nav {
	float: right;
	height: 70px;
	margin:0;
}

#clear-nav ul {
	float: right;
	margin: 0;
	padding: 0;
}

#clear-nav ul li {
	float: left;
	display: list-item;
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	text-align: right;
}

#clear-nav li:first-child{
	padding-left: 30px;
}
#clear-nav li:last-child{
	padding-right: 30px;
}

#clear-nav ul li a{
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 0.5em;
}

#nav-div {
	height: 50px;
	width: 100%;
	background: rgba(236, 235, 234, 0.9);
}

#mini-nav {
	float: center;
	height: 50px;
	margin:0;
}

#mini-nav ul {
	float: center;
	margin: 0;
	padding: 0;
}

#mini-nav ul li {
	float: left;
	display: list-item;
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	text-align: right;
}

#mini-nav ul li a{
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #dc5454;
	font-family: helvetica;
	font-size: 0.8em;
}

#mini-nav ul li a:hover {
	color: #005454;
}

#mini-nav ul li:first-child{
	padding-left: 400px;
}

#site-nav a:hover {
	color: #c6c6c6;
}

#filler-bar {
	clear: both;
	height: 50px;
	width: 100%;
	background-color: rgba(236, 235, 234, 1);
	margin: 0;
}

#investor-head { 
	float: left;
	clear: both;
	height: 400px;
	width: 100%;
	background-color: #dc5454;
	margin: 0;	
}

#mini-nav-div { 
	float: center;
	clear: both;
	height: 320px;
	width: 100%;
	margin: 0;	
	background-image: url("../assets/05investorrelations/05_banner1.png");
	min-height: 670px;
	min-width: 1020px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
}

#this-head {
	height: 0;
	width: 92%;
	padding-bottom: 60%;
	padding-left: 30px;
	text-align: left;
}

#this-head h2 {
	padding-top: 150px;
	color: white;
	font-family: helvetica;
}

#this-head h1 {
	color: white;
	font-family: helvetica;
	font-weight: bold;
}


#this-head p{
	color:white;
	font-size: 1.1em;
	padding-top: 15px;
}

#content{
	clear:both;
	width: 100%;
}

#company-content{
	padding-left: 35px;
	clear:both;
	width: 909px;
}

#company-head {
	padding-top: 15px;
	font-family: aldo;
	font-size: 1.5em;
}

#company-rule {
	width: 90px;
	margin-bottom: 15px;
}

#company-text {
	font-size: 0.8em;
	color: rgb(128, 128, 128);
}

#company-text a {
	font-family: helvetica;
	color: rgb(128, 128, 128);
	text-decoration: none;
}

#company-text a:hover {
	text-decoration: underline;
}

#foot-base {
	padding-top: 100px;

}

